* {
    margin: 0px;
    padding: opx;
}
.container {
    margin: 10px;
    width: 99%;
    min-width: 50vw;
    background-color: rgb(113, 113, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    margin: 20px 0;
    text-align: center;
    border-bottom: 2px dotted blue;
}
.divTareas, .divTareas1 {
    width: 80%;
}
.etiquetaTarea {
    display: inline-block;
    width: 80%;
    text-align: end;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
p{
   display: block; 
   font-size: 22px;
   font-weight: 600;
}
.datosTotales{
    display: flex;
    justify-content: center;
    align-items: flex-start;                
    flex-wrap: nowrap;
    width: 100%;
}
.datosEliminados{
    width: 40%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(72, 72, 153);
    margin: 1%;
    margin-top: 30px;
}
#datos {
    width: 40%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(72, 72, 153);
    margin: 1%;
    margin-top: 30px;
}
#agregarInput {
    margin: 5px;
}
.agregarContainer {
    width: 300px;
}
.eliminarContainer {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.check {
    margin: 15px;
}
label {
    width: 60;
    text-align: end;
    margin-right: 10px;
}